* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
}

.btn {
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px;
}

a.btn {
  text-decoration: none;
  color: #000;
}

.btn:hover {
  cursor: pointer;
  border-color: #000;
}





.bookmarks-sidebar {
  background-color: #fafafa;
  }

.bookmark {
  position: relative;
  padding-left: 35px;
  margin-bottom: 35px;
}

.bookmark h5 {
  font-size: 18px;
  margin-bottom: 0;
}

.bookmark h5 a {
  text-decoration: none;
  color: #000;
}

.bookmark p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.bookmark .number {
  position: absolute;
  left: 0;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 900;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  text-align: center;
  top: 0;
  line-height: 25px;
}

.input-title {
  font-size: 32px;
  width: 100%;
  font-weight: 700;
  border: none;
  box-shadow: none;
  padding: 15px 0;
}

.input-title:focus {
  outline: none;
}

.richtext-editor {
  width: calc(100% / 1.35);
  margin: 0 auto;
}

.RichEditor-styleButton {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  margin: 0;
  margin-right: 10px;
  border: 2px solid transparent;
}

.RichEditor-activeButton {
  border-color: #000;
  color: #000;
  background-color: transparent;
}

.public-DraftEditorPlaceholder-root {
  padding: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 18px;
}

.public-DraftEditorPlaceholder-inner {
  font-size: 18px;
}




.single-post {
  width: calc(100% / 1.35);
  margin: 0 auto;
}

.single-post .header {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 30px;
}

.single-post h1, .DraftEditor-editorContainer h1 {
  margin: 0;
  font-size: 38px;
}

.single-post h2, .DraftEditor-editorContainer h2 {
  font-size: 34px;
}

.single-post h3, .DraftEditor-editorContainer h3 {
  font-size: 30px;
}

.single-post h4, .DraftEditor-editorContainer h4 {
  font-size: 26px;
}

.single-post h5, .DraftEditor-editorContainer h5 {
  font-size: 22px;
}

.single-post h6,  .DraftEditor-editorContainer h6 {
  font-size: 18px;
}

.single-post ul li, .single-post ol li, .DraftEditor-editorContainer ul li, .DraftEditor-editorContainer ol li {
  padding: 12px 0;
  font-size: 21px;
}

.single-post a, .DraftEditor-editorContainer a {
  color: #000;
  text-decoration: underline;
}

.single-post p, .DraftEditor-editorContainer p {
  margin: 0;
  font-size: 22px;
  line-height: 1.7;
}

.single-post p code, .DraftEditor-editorContainer p code {
  background-color: rgba(0,0,0,.05);
  padding: 3px 5px;
  font-size: 0.8em;
}

.single-post figure, .DraftEditor-editorContainer figure {
    margin: 30px auto;
    text-align: center;
}

.single-post blockquote, .DraftEditor-editorContainer blockquote {
  border-left: 4px solid #000;
  margin: 0;
  padding: 10px 25px;
  font-style: italic;
}

.single-post pre, .DraftEditor-editorContainer pre {
  background-color: rgba(0,0,0,.05);
  padding: 20px;
  white-space: pre-wrap;
}

.single-post pre code, .DraftEditor-editorContainer pre code {
  font-size: 17px;
  color: rgba(0, 0, 0.75);
}


.msg-success {
  color: #4CAF50;
}

.msg-error {
  color: #F44336;
}


.bookmark-page {
  margin-top: 100px;
}

.bookmark-page h1 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}