
.navbar {
  padding: 30px 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  width: calc(100% / 3);
}

.navbar ul li {
  text-align: center;
}

.navbar ul li img {
  background-color: #20232a;
  height: 40px;
  width: 40px;
}

.navbar ul li:first-child {
  text-align: left;
  margin: 0;
}

.navbar ul li:last-child {
  text-align: right;
  margin: 0;
}