.single-post {
  width: 90vw;
  margin-left: 5vw;
    margin-top:10vh;

}

.single-post__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.single-post .header {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}
.single-post__body img {
  height: auto;
  width: 80vw;
}
.single-post h1,
.DraftEditor-editorContainer h1 {
  margin: 0;
  font-size: 32px;
}

.single-post h2,
.DsraftEditor-editorContainer h2 {
  font-size: 30px;
}

.single-post h3,
.DraftEditor-editorContainer h3 {
  font-size: 28px;
}

.single-post h4,
.DraftEditor-editorContainer h4 {
  font-size: 26px;
}

.single-post h5,
.DraftEditor-editorContainer h5 {
  font-size: 22px;
}

.single-post h6,
.DraftEditor-editorContainer h6 {
  font-size: 18px;
}

.single-post ul li,
.single-post ol li,
.DraftEditor-editorContainer ul li,
.DraftEditor-editorContainer ol li {
  padding: 12px 0;
  font-size: 21px;
}

.single-post a,
.DraftEditor-editorContainer a {
  color: #000;
  text-decoration: underline;
}

.single-post p,
.DraftEditor-editorContainer p {
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
}

.single-post p code,
.DraftEditor-editorContainer p code {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 3px 5px;
  font-size: 0.8em;
}

.single-post figure,
.DraftEditor-editorContainer figure {
  margin: 30px auto;
  text-align: center;
}

.single-post blockquote,
.DraftEditor-editorContainer blockquote {
  border-left: 4px solid #000;
  margin: 0;
  padding: 10px 25px;
  font-style: italic;
}

.single-post pre,
.DraftEditor-editorContainer pre {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  white-space: pre-wrap;
}

.single-post pre code,
.DraftEditor-editorContainer pre code {
  font-size: 15px;
  color: rgba(0, 0, 0.75);
}


.input-title {
  font-size: 32px;
  width: 100%;
  font-weight: 700;
  border: none;
  box-shadow: none;
  padding: 15px 0;
  margin-bottom: 20px;
}

.input-title:focus {
  outline: none;
}

.richtext-editor {
  width: calc(100% / 1.35);
  margin:10vh;
}

/* Editor */
.wrapper > * {
    color:red;
    margin: 0 20px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

 .RichEditor-editor .public-DraftEditorPlaceholder-root { 
  min-height: 100px;
} 

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}



.RichEditor-activeButton {
  border-color: #000;
  color: #000;
  background-color: transparent;
}

.public-DraftEditorPlaceholder-root {
  padding: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-size: 18px;
}

.public-DraftEditorPlaceholder-inner {
  font-size: 18px;
}

.msg-success {
  color: #4caf50;
}

.msg-error {
  color: #f44336;
}



/* MEDIA  QUERY */

@media screen and (min-width: 768px) {
  .single-post__body img {
    width: 500px;
  }
  
}
