
.single-post {
  width: 100vw;
  margin: 0 auto;
}

.single-post__body{
    width: 100%;
    margin: 15px;
}
.single-post .header {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 30px;
}
.single-post__body img{
 height: 100%;
 width: 100vw;
}
.single-post h1, .DraftEditor-editorContainer h1 {
  margin: 0;
  font-size: 38px;
}

.single-post h2, .DsraftEditor-editorContainer h2 {
  font-size: 34px;
}

.single-post h3, .DraftEditor-editorContainer h3 {
  font-size: 30px;
}

.single-post h4, .DraftEditor-editorContainer h4 {
  font-size: 26px;
}

.single-post h5, .DraftEditor-editorContainer h5 {
  font-size: 22px;
}

.single-post h6,  .DraftEditor-editorContainer h6 {
  font-size: 18px;
}

.single-post ul li, .single-post ol li, .DraftEditor-editorContainer ul li, .DraftEditor-editorContainer ol li {
  padding: 12px 0;
  font-size: 21px;
}

.single-post a, .DraftEditor-editorContainer a {
  color: #000;
  text-decoration: underline;
}

.single-post p, .DraftEditor-editorContainer p {
  margin: 0;
  font-size: 22px;
  line-height: 1.7;
}

.single-post p code, .DraftEditor-editorContainer p code {
  background-color: rgba(0,0,0,.05);
  padding: 3px 5px;
  font-size: 0.8em;
}

.single-post figure, .DraftEditor-editorContainer figure {
    margin: 30px auto;
    text-align: center;
}

.single-post blockquote, .DraftEditor-editorContainer blockquote {
  border-left: 4px solid #000;
  margin: 0;
  padding: 10px 25px;
  font-style: italic;
}

.single-post pre, .DraftEditor-editorContainer pre {
  background-color: rgba(0,0,0,.05);
  padding: 20px;
  white-space: pre-wrap;
}

.single-post pre code, .DraftEditor-editorContainer pre code {
  font-size: 17px;
  color: rgba(0, 0, 0.75);
}
